<div id="<%= dom_id company %>">
  <p>
    <strong>Company name:</strong>
    <%= company.company_name %>
  </p>

  <p>
    <strong>Company founder:</strong>
    <%= company.company_founder %>
  </p>

  <p>
    <strong>Company founding time:</strong>
    <%= company.company_founding_time %>
  </p>

  <p>
    <strong>Company headcount:</strong>
    <%= company.company_headcount %>
  </p>

  <p>
    <strong>Headquarter address:</strong>
    <%= company.headquarter_address %>
  </p>

</div>
